<%- include("header") -%>

<div id="heading" class="box">
  <h1><%= listTitle %></h1>
</div>

<div class="box">
  <% newListItems.forEach(function(item){ // Loops through the entire array and created list elements %>
<form action="/delete" method="post">
  <div class="item">
    <input type="checkbox" name="checkBox" value="<%=item._id%>" onchange="this.form.submit();">
    <p> <%= item.name %> </p>
  </div>
  <input type="hidden" name="listName" value="<%= listTitle %>">
</form>

  <% } );%>

  <div class="item">
    <form action="/" method="post">
      <input type="text" name="newItem" placeholder="New Task" autocomplete="off">
      <button type="submit" name="list" value="<%=listTitle %>"> + </button>
    </form>
  </div>
</div>

<%- include("footer") -%>
